<style>
    .slide{
        padding: 10px;
        border: 1px solid #000;
        margin: 5px 0;
    }
</style>
<style>
.all-slides {
 background: #e3e7ed;
 counter-reset: slides;
 position: absolute;
 /* top: 0;
 left: 0; */
 width: 150px;
 padding: 3rem 1rem 1rem 2rem;
 height: auto;
 overflow: auto;
}
.slides-title {
 position: fixed;
 background: #e3e7ed;
 z-index: 8;
 width: 150px;
 text-align: center;
 top: 0;
 left: 0;
 margin: 0;
 border-bottom: 1px solid #cdd1d8;
 color: #8585a2;
 padding: 0.5rem 0.25rem;
 font-size: 1rem;
}
.slide {
 width: 100px;
 height: 60px;
 background: linear-gradient(#444, #111);
 /* position: relative; */
 user-select: none;
 border: 1px solid white;
 margin: 0 0 0.75rem 0;
 box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
 text-align: center;
 color: white;
 /* line-height: 60px; */
 font-size: 0.5rem;
 z-index: 5;
}
.slide:before {
 position: absolute;
 bottom: 0;
 right: 100%;
 counter-increment: slides;
 content: counter(slides);
 padding-right: 0.35rem;
 color: #999;
 line-height: normal;
 font-size: 1rem;
}
.ui-sortable-helper {
 transition: none !important;
}
.sortable-placeholder {
 height: 60px;
 width: 5px;
 border-left: 2px solid #4999da;
 margin: 0 0 0.75rem 0;
 position: relative;
 z-index: 6;
}
.cloned-slides .slide {
 /* position: absolute; */
 z-index: 4;
}
/* .cloned-slides .slide:before {
 content: attr(data-pos);
} */




.stop-scrolling {
height: 100%;
overflow: hidden;
}
</style>
<div class='all-slides'>
    <div class='slide' id="photo1"><p class="photo_text">Предложение 1</p></div>
    <div class='slide' id="photo2"><p class="photo_text">Предложение 2</p></div>
    <div class='slide' id="photo3"><p class="photo_text">Предложение 3</p></div>
</div>











<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<script>
/*-------------------------------------------ПЕРЕТАСКИВАНИЕ ИЗОБРАЖЕНИЙ-----------------------------------------------------------------*/
$(".all-slides").sortable({
  
  axis: "y",
  revert: true,
  scroll: false,
  placeholder: "sortable-placeholder",
  cursor: "move"

});

$(".slide").each(function(i) {
  var item = $(this);
  var item_clone = item.clone();
  item.data("clone", item_clone);
  var position = item.position();
  item_clone
  .css({
    left: position.left,
    top: position.top,
    visibility: "hidden"
  })
    .attr("data-pos", i+1);
  
//   $("#cloned-slides").append(item_clone);
});

$(".all-slides").sortable({
  
  axis: "y",
  revert: true,
  scroll: false,
  placeholder: "sortable-placeholder",
  cursor: "move",

  start: function(e, ui) {
    $('body').addClass('stop-scrolling')
    $('body').bind('touchmove', function(e){e.preventDefault()})
    $('body').unbind('touchmove')

    ui.helper.addClass("exclude-me");
    // $(".all-slides .slide:not(.exclude-me)")
    //   .css("visibility", "hidden");
    ui.helper.data("clone").hide();
    // $(".cloned-slides .slide").css("visibility", "visible");

    
  },

  stop: function(e, ui) {
    $('body').removeClass('stop-scrolling')
    $(".all-slides .slide.exclude-me").each(function() {
      var item = $(this);
      var clone = item.data("clone");
      var position = item.position();

      clone.css("left", position.left);
      clone.css("top", position.top);
      clone.show();

      item.removeClass("exclude-me");
    });
    
    $(".all-slides .slide").each(function() {
      var item = $(this);
      var clone = item.data("clone");
      
      clone.attr("data-pos", item.index());
    });

    $(".all-slides .slide").css("visibility", "visible");
    // $(".cloned-slides .slide").css("visibility", "hidden");
  },

  change: function(e, ui) {
    $(".all-slides .slide:not(.exclude-me)").each(function() {
      var item = $(this);
      var clone = item.data("clone");
      clone.stop(true, false);
      var position = item.position();
      clone.animate({
        left: position.left,
        top: position.top
      }, 200);
    });
  }
  
});
  /*------------------------------------ ПРИ АДАПТИВЕ МОЖНО ПАЛЬЦЕМ ПЕРЕМЕЩАТЬ Адреса -----------------------------------------------------------------------*/
function touchHandler(event) {
  var touch = event.changedTouches[0];

  var simulatedEvent = document.createEvent("MouseEvent");
      simulatedEvent.initMouseEvent({
      touchstart: "mousedown",
      touchmove: "mousemove",
      touchend: "mouseup"
  }[event.type], true, true, window, 1,
      touch.screenX, touch.screenY,
      touch.clientX, touch.clientY, false,
      false, false, false, 0, null);

  touch.target.dispatchEvent(simulatedEvent);
}

$(document).on('touchmove', function(e) {
    e.preventDefault();
});
function init() {
  document.addEventListener("touchstart", touchHandler, true);
  document.addEventListener("touchmove", touchHandler, true);
  document.addEventListener("touchend", touchHandler, true);
  document.addEventListener("touchcancel", touchHandler, true);
}

$(document).ready(function() {
init();
});

</script>