{% autoescape off %}

<div style="max-width: 650px; margin: 0 auto; font-family: Verdana; text-align: center;">
    <span style="display: block; margin-bottom: 30px; font-size: 20px;color: #2785D1;">Натисніть кнопку <strong>підтвердження</strong> адреси електронної пошти нижче:</span>
    <span style="color:#898989;display: block;max-width: 500px; margin: auto; margin-bottom: 30px; font-size: 15px;">Коли Ви підтвердите свою пошту, перейдіть до розділу <strong><a href="https://pidvezu.com.ua/brief_intro/" style="color:inherit;">"Коротке введення"</a></strong> - там Ви дізнаєтеся, як налаштувати <strong>повідомлення</strong>, додати <strong>маршрут</strong>, подати на нього <strong>заявку</strong> та багато іншого.</span>
    <a href="{{activate_url}}" style="padding: 17px; text-align: center; background: #2785D1; text-decoration: none;
    color: #fff; font-size: 18px; line-height: 22px; border: 2px solid #4698d0; border-radius: 20px; width: auto; display: inline-block;">
    Підтвердити
    </a>
    <span style="display: block; margin-top: 30px; border-top: 1px solid #969696; padding-top: 20px; color: #969696;">Pidvezu - це безкоштовна площадка, де водії публікують свій маршрут, а інші люди можуть передати речі, їжу, тварин, або бути пасажиром для доставки в/з гарячих точок України</span>
</div>
{% endautoescape %}