{% autoescape off %}
<div style="max-width: 650px; margin: 0 auto;font-family: Verdana;">
    <div style="max-width: 600px; margin: 0 auto; font-size: 18px; line-height: 24px; text-align: center; padding: 10px 0 10px 0;color: #2785D1; ">
      Щоб скинути пароль, натисніть кнопку нижче.
    </div>
    <div style="max-width: 476px; margin: 0 auto; text-align: center; padding: 20px 0 44px;">
      <a href="{{activate_url}}" style="padding: 17px; text-align: center; background: #2785D1; text-decoration: none;
      color: #fff; font-size: 18px; line-height: 22px; border: 2px solid #4698d0; border-radius: 20px; width: auto; display: inline-block;">
        Скинути пароль
      </a>
    </div>
    <span style="display: block; margin-top: 30px; border-top: 1px solid #969696; padding-top: 20px; color: #969696;">Pidvezu - це безкоштовна площадка, де водії публікують свій маршрут, а інші люди можуть передати речі, їжу, тварин, або бути пасажиром для доставки в/з гарячих точок України</span>
</div>
{% endautoescape %}