{% extends 'autostop/base.html' %} 
{% load static %}
{% load i18n %} 

{% block head %}
    {% if current_lang == 'uk' %}
    <link rel="canonical" href="https://pidvezu.com.ua/pidvezu_rules/">
    <meta http-equiv="Content-Language" content="uk">
    <meta name="subject" content="Правила сервісу Pidvezu">
    <meta name="description" content="Правила обслуговування Pidvezu. Прочитайте правила перед використанням веб-сайту.">
    {% else %}
    <link rel="canonical" href="https://pidvezu.com.ua/ru/pidvezu_rules/">
    <meta http-equiv="Content-Language" content="ru">
    <meta name="subject" content="Правила сервиса Pidvezu">
    <meta name="description" content="Правила сервиса Pidvezu. Прочитайте правила перед тем, как использовать веб сайт.">
    {% endif %}
{% endblock %}

{% block language %}<html lang="{{current_lang}}">{% endblock %}
{% block title %}{% translate "Правила сервиса Pidvezu" %}{% endblock %}

{% block content %} 
<div class="rules_field">
<div class="rules_block">
    <h1 class="rules_title">{% translate "Правила сервиса" %} Pidvezu</h1>
    <span class="rules_updated">{% translate "Обновлено" %} 03.11.2021</span>
    <p>{% translate "Администрация Pidvezu (далее команда, мы, наш) привели дальше правила сайта pidvezu.com.ua, чтобы рассказать Вам:" %}
        <ul>
            <li>{% translate "общие правила пользования" %};</li>
            <li>{% translate "основные «части» сайта и работа с ними" %};</li>
            <li>{% translate "заключение правил" %}.</li>
        </ul>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "1.	Общие положения (общие правила пользования)" %}</p>
    <p>{% translate "1.1. Сайт pidvezu.com.ua и его команда не являются стороной (участником) соглашения между водителем и пассажиром." %}</p>
    <p>{% translate "1.2. Незарегистрированные пользователи могут пользоваться ограниченным функционалом веб-сервиса, зарегистрированные же пользователи – большинством. Ограниченный функционал: просмотр страниц сайта; большинство функционала: просмотр сайта, публикация маршрутов, управление учётной записью, управление публикациями." %}</p>
    <p>{% translate "1.3. Текстовые и фото- и/или видеоматериалы, расположенные на сайте являются объектами права интеллектуальной собственности (временное исключительное право, а также личные неимущественные права авторов на результат интеллектуальной деятельности или средства индивидуализации – Википедия), в частности авторские права и право промышленной собственности, сервиса Pidvezu, Пользователей и/или третьих лиц Запрещена обработка данных (информации) без письменного согласия её владельца или уполномоченного лица, которые предлагает веб-сайт, со злоумышленными целями." %}</p>
    <p>{% translate "1.4. Работа сайта Pidvezu:" %}</p>
    <p>{% translate "1.4.1. Наша администрация стремится поддерживать бесперебойную работу сервиса. В некоторых случаях, а именно: технический сбой (независящая от администрации ситуация) и технический перерыв (часы: 24:00-06:00 – Киевское время GMT+2), веб-сервис может быть недоступен для взаимодействия (добавление/изменение/удаление публикаций, личной информации; просмотр публикаций на сайте), а также работа Телеграм Бота. В случае простоя (недоступность), независимо от «некоторых случаев», просьба обратиться в службу поддержки и сообщить об этом." %}</p>
    <p>{% translate "1.4.2. Администрация приложила все усилия, чтобы сделать адаптивность веб-сайта под все устройства, но на некоторых экранах, в частности телевизора, смартфона Samsung Galaxy Fold, дизайн сайта может отображаться некорректно. В случае если Вы заметили сбои в этой области или же пожеланий, то хотим Вам попросить сообщить в службу поддержки, мы обязательно рассмотрим Ваше сообщение. Если же Вы владеете другим устройством и также заметили неверно отображённый дизайн, также обратитесь в службу поддержки, нам действительно важно Ваше мнение." %}</p>
    <p>{% translate "1.4.3. В большинстве, если не во всех браузерах, поддерживаются javascript (файлы с кодом, который отвечает в основном за анимацию) и запись cookie-файлов (небольшие по размеру файлы с данными, расположенные на устройстве пользователя, которые не представляют угрозу и помогают запоминать Ваши предпочтения). Данные функции включены по умолчанию. Если же Вы отключили их, пожалуйста, включите, так дизайн сайта будет отображаться плавно и без сбоев. " %}</p>
</div>
<div class="rules_block">
    <p  class="rules_header">{% translate "2. Основные «части» сайта и работа с ними" %}</p>
    <p>{% translate "2.1. Регистрация" %}</p>
    <p>{% translate "2.1.1. Регистрация пользователя нужна для расширения возможностей и функционала сайта, которые описаны в пункте 1.2. ВАЖНО! Перед регистрацией, мы советуем Вам ознакомиться с" %} <a href="{% url 'autostop:privacy_policy' %}">{% translate "Политикой конфиденциальности" %}</a>, {% translate "чтобы Вы понимали, для чего и какие мы собираем и обрабатываем персональные данные своих гостей и пользователей." %}</p>
    <p>{% translate "2.1.2. 	Пользователем может быть только физическое лицо с соответствующим объемом дееспособности, юридическое лицо или компания. В случае юридических лиц и компаний, только лицо, уполномоченное действовать от их имени, может создать Учетную запись и взаимодействовать с сервисом Pidvezu. В случае регистрации физ. лица, не достигшего 18-тилетнего возраста, мы настоятельно рекомендуем прочитать данные правила и" %} <a href="{% url 'autostop:privacy_policy' %}">{% translate "Политику конфиденциальности" %}</a> {% translate "вместе с родителями и/или опекуном. В дальнейшем родителям и/или опекуну рекомендуется контролировать деятельность своих детей на веб-сервисе." %}</p>
    <p>{% translate "2.1.3. Пользователь может иметь только одну учетную запись." %}</p>
    <p>{% translate "2.1.4. Порядок регистрации прост, для этого нужно: заполнить форму регистрации на сайте, просмотреть (ознакомиться) с" %} <a href="{% url 'autostop:privacy_policy' %}">{% translate "Политикой конфиденциальности" %}</a> {% translate "и Правилами сайта, проверить электронный почтовый ящик, который Вы указали при регистрации – там будет письмо с кнопкой, которая сделает Ваш профиль активным, нажмите её. Поздравляем, Вы теперь с нами!) Теперь можете создать свой первый маршрут, если до этого не пользовались сайтом, или же просмотреть существующие." %}</p>
    <p>{% translate "Пользователь гарантирует, что данные, предоставленные в ходе Регистрации и во время использования Веб-сайта, точны, верны и актуальны, и что он имеет право использовать эти данные. Пользователь обязуется обновлять данные в случае их изменения." %}</p>
    <p>{% translate "2.1.5. Данные, которые были предоставлены при регистрации команда Pidvezu не советует разглашать третьим лицам, которые могут заполучить Ваши данные и использовать в личных целях. В таком случае мы, к сожалению, не сможем обратить этот процесс. В случае, если Ваши регистрационный данные утекли, в частности номер телефона и/или имя пользователя и/или email и пароль, мы настоятельно рекомендуем Вам обновить пароль, нажав на ссылку «Забыли пароль?» в окне регистрации или входа." %}</p>
    <p>{% translate "2.2. Учётная запись (профиль, аккаунт)" %}</p>
    <p>{% translate "2.2.1. Вы можете удалить свой профиль, нажав на соответствующую кнопку «Удалить профиль» в разделе «Открыть профиль». В случае, если Вы решите удалить его, Ваши маршруты и личные данные также будут стёрты из системы." %}</p>
    <p>{% translate "2.2.2. В разделе, описанном в п. 2.2.1 Вы можете отредактировать свои личные данные, которые будут видеть другие пользователи. Это нужно для связи посетителей сайта с Вами и для того, чтобы рассказать о себе в той мере, насколько позволяет форма заполнения данными. Чем больше будет данных о Вас заполнено, тем легче и доверчивее будет связь между Вами и Пользователем веб-сервиса." %}</p>
    <p>{% translate "2.2.3. Получение уведомлений о статусе маршрутов и заявок в Телеграм – для того, чтобы получать рассылку, нажмите на «чекбокс», чтобы он заполнился синим цветом, и нажмите кнопку «Изменить». Если же хотите отказаться от уведомлений, нажмите на «чекбокс», чтобы он заполнился белым цветом, и нажмите на кнопку «Изменить»." %}</p>
    <p>{% translate "2.2.4. Если зарегистрированный Пользователь сервиса Pidvezu неоднократно попробует опубликовать объявления, которые будут противоречить правилам содержания объявления (описано ниже в разделе 2.3), или же, если поступят неоднократные жалобы на недобросовестность Пользователя, мы будем вынуждены заблокировать его профиль. В случае блокировки персональные данные не удаляются. Если заблокированный Пользователь хочет, чтобы его данные были удалены из системы, нужно обратиться в службу поддержки, предоставив добровольное, достоверно подписанное заявление в печатном виде, которое гласит о взаимодействии с сайтом Pidvezu, кроме просмотра публикаций." %}</p>
    <p>{% translate "2.3. Объявления (маршруты, публикации)" %}</p>
    <p>{% translate "2.3.1. Маршруты, опубликованные на нашем сайте, предварительно проходят проверку командой Pidvezu. Запрещённая тематика публикаций: " %}</p>
    <ul>
        <li>{% translate "порнографическая, насильственная и всё, что связано с этим;" %} </li>
        <li>{% translate "содержащая любые нецензурные слова, оскорбления, в частности на основании национальных, этнических, расовых, религиозных или нерелигиозных различий;" %} </li>
        <li>{% translate "содержащая информацию о нацистской, коммунистической символики;" %} </li>
        <li>{% translate "пропаганда политических партий, общественных организаций и фондов, войны;" %} </li>
        <li>{% translate "несуществующий или ложный маршрут;" %} </li>
        <li>{% translate "рекламная;" %} </li>
        <li>{% translate "противоречащее законодательству Украины." %} </li>
    </ul>
    <p>{% translate "2.3.2. Команда Pidvezu не переводит названия, описания публикаций и все поля, что заполняет создатель объявления." %}</p>
</div>
<div class="rules_block">
    <p  class="rules_header">{% translate "3. Заключение правил." %}</p>
    <p>{% translate "3.1. Команда Pidvezu оставляет за собой право вносить изменения в данные Правила." %}</p>
    <p>{% translate "3.2. Если Пользователь не согласен с правилами и не собирается придерживаться их, то мы настоятельно рекомендуем удалить учётную запись и прекратить использование веб-сервиса Pidvezu." %}</p>
    <p>{% translate "3.3. После изменения новые правила вступят в силу на следующий день после обновления (указана дата вверху страницы)." %}</p>
    <p>{% translate "3.4. Администрация Pidvezu никогда не запрашивает данные для посещения сайта (не путайте с авторизацией). Не стоит переходить с вашего сайта на другие и авторизовываться на них. Особенно если ссылку Вы увидели в полученном личном сообщении." %}</p>
    <p>{% translate "3.5. Никому нельзя сообщать одноразовые пароли или ответы на секретные вопросы." %}</p>
</div>
</div>
{% endblock %}