{% extends 'autostop/base.html' %} 
{% load static %}
{% load i18n %} 

{% block head %}
    {% if current_lang == 'uk' %}
    <link rel="canonical" href="https://pidvezu.com.ua/privacy_policy/">
    <meta http-equiv="Content-Language" content="uk">
    <meta name="subject" content="Політика конфіденційності сервісу Pidvezu">
    <meta name="description" content="Політика конфіденційності сервісу Pidvezu. Прочитайте Політику конфіденційності перед використанням веб-сайту.">
    {% else %}
    <link rel="canonical" href="https://pidvezu.com.ua/ru/privacy_policy/">
    <meta http-equiv="Content-Language" content="ru">
    <meta name="subject" content="Политика конфиденциальности сервиса Pidvezu">
    <meta name="description" content="Политика конфиденциальности сервиса Pidvezu. Прочитайте Политику конфиденциальности перед тем, как использовать веб сайт.">
    {% endif %}
{% endblock %}

{% block language %}<html lang="{{current_lang}}">{% endblock %}
{% block title %}{% translate "Политика конфиденциальности" %} Pidvezu{% endblock %}

{% block content %} 
<div class="rules_field">
<div class="rules_block">
    <h1 class="rules_title">Pidvezu - {% translate "Политика конфиденциальности" %}</h1>
    <span class="rules_updated">{% translate "Обновлено" %} 01.04.2022</span> 
    <p>{% translate "Администрация (далее команда, мы, нас, наш) Pidvezu беспокоится об обеспечении безопасности данных наших Пользователей - поэтому мы составили Политику конфиденциальности, чтобы Вы не беспокоились о нашей работе с Вашими данными, которые были предоставлены нашему сервису, как при регистрации, так и после" %}.</p>
    <p>{% translate "Политика конфиденциальности, далее – Политика, действует в отношении обработки персональных данных, которые может получить веб-сервис Pidvezu (pidvezu.com.ua, https://pidvezu.com.ua) от физических лиц-пользователей" %}.</p>
</div>
<div class="rules_block">
    <p>{% translate "Данная Политика конфиденциальности разработана, чтобы рассказать Вам:" %}</p>
        <ul>
            <li>{% translate "общие положения по Политике;" %}</li>
            <li>{% translate "какие Ваши персональные данные мы собираем;" %}</li>
            <li>{% translate "как и почему мы используем их;" %}</li>
            <li>{% translate "администрация – кому можно обрабатывать данные;" %}</li>
            <li>{% translate "пользовательские права;" %}</li>
            <li>{% translate "безопасность данных;" %}</li>
            <li>{% translate "изменение Политики конфиденциальности;" %}</li>
            <li>{% translate "к кому Вы можете обратиться для защиты Ваших персональных данных." %}</li>
    </ul>
    <p>{% translate "Мы с полной серьёзностью относимся к безопасности личных данных как прежних, так и потенциальных Пользователей, обратившихся к нам, поэтому стремимся защищать конфиденциальность персональных данных. Команда Pidvezu обязуется принять все необходимые меры для предотвращения злоупотребления Вашими персональными данными, которые становятся нам известны. Мы будем обрабатывать их в строгом соответствии с требованиями Закона Украины «О защите персональных данных», исключительно при наличии законных оснований на такую обработку, в частности правилами, описанными в Политике конфиденциальности (далее)" %}.</p>
    <p>{% translate "Хотим заметить, что Вы абсолютно не обязаны раскрывать нам персональные данные, но без определенной информации о Вас мы не сможем предоставить большую часть функционала нашего сервиса" %}.</p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "1. Общие положения " %} </p>
    <p>{% translate "1.1. Цель данной Политики заключается в доведении до Вас необходимой информации, которая позволяет оценить, какие персональные данные и с какими целями обрабатываются командой Pidvezu, методы их обработки и обеспечения безопасности." %} </p>
    <p>{% translate "1.2. Личные данные как наших Пользователей обрабатываются на удалённых защищённых серверах, находящихся за пределами страны Украины." %} </p>
    <p>{% translate "1.3. Используя веб-сервис pidvezu.com.ua Пользователь предоставляет своё согласие на обработку своих личных данных, таких как: адрес электронной почты (email); контактный телефон; имя и фамилия, описание транспортного средства – по желанию; при регистрации в Телеграм Боте: личный id; а также даёт своё согласие на передачу своих персональных данных третьим лицам, в том числе  за границу, в любую третью страну, в соответствии с данной Политикой." %} </p>
    <p>{% translate "1.4. При использовании онлайн-сервиса Pidvezu, Вы, сообщив нам свои личные данные, признаете свое согласие на обработку своих персональных данных в соответствии с Политикой конфиденциальности. В случае несогласия с условиями Политики, Вы обязаны прекратить использовать данный сервис." %} </p>
    <p>{% translate "1.5. Команда сайта не проверяет достоверность персональных данных, предоставляемых Пользователем, поэтому не имеет возможности оценивать его дееспособность. Однако мы исходим из того, что Пользователь действует добровольно, добросовестно, осмотрительно, предоставляет достоверные персональные данные и не нарушает права третьих лиц." %} </p>
    <p>{% translate "1.6. Соглашаясь с условиями Политики, Вы подтверждаете, что в момент сбора персональных данных Вы уведомлены о лицах, которым передаются персональные данные, содержании и целях сбора персональных данных. Вы подтверждаете (гарантируете), что персональные данные, которые переданы нам на обработку, переданы с согласия владельцев персональных данных и в рамках Законодательства." %} </p>
    <p>{% translate "1.7. Сервис Pidvezu и его администрация освобождается от ответственности за последствия, наступившие в связи с обработкой ими персональных данных, в случае если они не несут ответственности за событие, повлекшее наступление таких последствий." %} </p>
    <p>{% translate "1.8. Мы не стремимся целенаправленно собирать персональную информацию лиц моложе 18 лет. Родителям и/или опекуна рекомендуется контролировать связанную с этим деятельность своих детей." %} </p>
    <p>{% translate "1.9. Хотим предупредить, что ссылки, которые предоставляются сторонними лицами, могут быть небезопасны, и администрация сайта не сможет помочь Пользователю в случае утери данных и других непредвиденных обстоятельствах, потому что информация о Пользователях собирается вне прямого контроля сервиса Pidvezu и его команды. Будьте осторожны! Если у Вас возникли какие-либо проблемы с этим, обратитесь в нашу службу поддержки, мы постараемся Вам помочь! :)" %} </p>
    <p>{% translate "1.10. Администрация сайта не может проверить на правдивость информацию, публикуемую другими пользователями, поэтому не может нести ответственность за достоверность." %} </p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "2. Какие Ваши персональные данные мы собираем" %} </p>
    <p>{% translate "2.1. Администрация, для осуществления своей деятельности и для выполнения своих обязательств, обрабатывает персональные данные Пользователя, предоставленные им при регистрации на сайте pidvezu.com.ua, публикации маршрутов и хранящиеся в личном кабинете. К персональным данным Пользователя относятся: адрес электронной почты (email), контактный телефон (при регистрации); описание т/с, имя и фамилия (по желанию заполняется в профиле); id (при запуске Телеграм Бота). " %} </p>
    <p>{% translate "2.3. Мы просим Вас сообщать только те персональные данные, которые необходимы для регистрации, ответа на Ваш запрос или замечание сервису. В тоже время, если Вы решите сообщить нам дополнительные персональные данные, мы будем этому рады и обязуемся обработать их с необходимым уровнем защиты." %} </p>
    <p>{% translate "2.4. Пользователи несут ответственность за всю информацию, которую они размещают в общедоступных записях. " %} </p>
    <p>{% translate "2.5. При обслуживании посетителей сайта команда Pidvezu вправе собирать личную информацию для выполнения запроса Пользователя и, в случае необходимости, обратного ответа." %} </p>
    <p>{% translate "2.6. Мы не собираем и, соответственно, не обрабатываем персональные данные о расовом или этническом происхождении, политических, мировоззренческих или религиозных убеждениях, членстве в политических партиях и проф. союзах, осуждения к уголовному наказанию, а также данных, касающихся здоровья, половой жизни, биометрических и генетических данных." %} </p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "3. Как и почему мы используем их" %} </p>
    <p>{% translate "3.1. Наш сервис использует Cookies (куки). Это небольшие по размеру файлы с данными, расположенные на устройстве пользователя, которые не представляют угрозу и помогают запоминать Ваши предпочтения. Полный перечень Вы можете увидеть, перейдя в консоль разработчика -> Application -> Cookies -> дальше из выпавшего меню выбираете сервис Pidvezu и просматриваете." %} </p>
    <p>{% translate "3.2. Цели, для которых онлайн-сервис Pidvezu собирает и обрабатывает данные:" %} </p>
    <p>{% translate "3.2.1. Возможность посетителям пользоваться основным функционалом сайта (сбор на регистрации, куки)." %} </p>
    <p>{% translate "3.2.2. Возможность отображения информации о пользователе в публикациях." %} </p>
    <p>{% translate "3.2.3. Возможность получать уведомления о статусе маршрута и заявок через Телеграм Бота." %} </p>
    <p>{% translate "3.2.4. Связь с прежними и потенциальными пользователями сайта для решения вопросов, касающихся работы сайта, на сайте и связанных с этим." %} </p>
    <p>{% translate "3.3. Сроки обработки персональных данных определяются исходя из целей обработки, но не дольше чем это определено Законодательством. Мы также учитываем периоды, для которых нам, возможно, потребуется сохранить Ваши персональные данные для выполнения наших юридических обязательств перед Вами или контролирующими органами. " %} </p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "4. Администрация – кому можно обрабатывать данные" %} </p>
    <p>{% translate "4.1.  К обработке персональных данных допущены только те сотрудники администрации, на которых возложена такая обязанность в соответствии с их служебными обязанностями. Доступ других сотрудников может быть предоставлен исключительно в предусмотренных Законом случаях. Команда Pidvezu гарантирует от своих сотрудников соблюдения конфиденциальности и обеспечения безопасности персональных данных при их обработке." %} </p>
    <p>{% translate "4.2.  Администрация имеет право передать персональные данные третьим лицам в следующих случаях:" %} </p>
    <ul>
        <li>{% translate "субъект персональных данных письменно выразил свое согласие на данные действия. Передача происходит на основании заключенного с третьим лицом договора, условием которого является соблюдение конфиденциальности и неразглашении персональных данных;" %} </li>
        <li>{% translate "передача предусмотрена украинским или другим соответствующим законодательством в рамках установленной законодательством процедуры. " %} </li>
        <li>{% translate "по требованию представителей органов государственной власти, в том числе, контролирующих, надзорных, правоохранительных и других органов в объеме и порядке, определенном Законодательством (при наличии соответственного официального документа, гласящий о предоставлении данных)." %} </li>
    </ul>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "5. Пользовательские права" %} </p>
    <p>{% translate "5.1. Пользователи, которые зарегистрировались и/или разместили объявление(я) на сайте pidvezu.com.ua, имеют непосредственный доступ к информации, а также возможность исправления и/или удаления, которую они предоставляют (не включая email). Незарегистрированные посетители имеют возможность только просматривать все публикации сайта. Пользователь несет ответственность за точность и достоверность предоставляемых данных на сервисе." %} </p>
    <p>{% translate "5.2. Пользователь имеет право:" %} </p>
    <p>{% translate "5.2.1. знать об источниках сбора, местонахождения своих персональных данных, цели их обработки, местонахождение распорядителя персональных данных;" %} </p>
    <p>{% translate "5.2.2. на доступ к своим персональным данным;" %} </p>
    <p>{% translate "5.2.3. получать не позднее, чем за тридцать календарных дней со дня поступления запроса, кроме случаев, предусмотренных Законом, ответ о том, обрабатываются ли его персональные данные, а также получать содержание таких персональных данных;" %} </p>
    <p>{% translate "5.2.4. предъявлять мотивированное требование с возражением против обработки своих персональных данных или об изменении, или уничтожение своих персональных данных, если данные обрабатываются незаконно или являются недостоверными;" %} </p>
    <p>{% translate "5.2.5. обращаться с жалобами на обработку своих персональных данных к администрации к Уполномоченному Верховной Рады Украины по правам человека или в суд, а также применять средства правовой защиты в случае нарушения законодательства о защите персональных данных;" %} </p>
    <p>{% translate "5.2.6. вносить оговорки об ограничении права на обработку своих персональных данных при предоставлении согласия, а также отозвать согласие на обработку персональных данных;" %} </p>
    <p>{% translate "5.2.7. на информацию;" %} </p>
    <p>{% translate "5.2.8. знать механизм автоматической обработки персональных данных;" %} </p>
    <p>{% translate "5.2.9. на исправление личных данных." %} </p>
    <p>{% translate "Наша команда всегда рада и готова предоставлять Вам информацию о том, какие из Ваших личных данных мы обрабатываем. Для этого Вы можете сделать запрос на эту информацию в любое время, в том числе, путем обращения к администрации. При обращении Вы должны сообщить нам свои конкретные требования, чтобы мы могли на законных основаниях рассмотреть Ваш запрос и дать ответ." %} </p>
    <p>{% translate "Хотим обратить Ваше внимание, что в случае, если мы не сможем удостоверить Вашу личность путем обмена электронными сообщениями или во время Вашего обращения по телефону, или в случае обоснованных сомнений относительно Вашей личности, мы можем попросить Вас предоставить документ, удостоверяющий личность, в том числе путем личной явки по адресу места нахождения администрации. Только таким образом мы сможем избежать огласки Ваших персональных данных лицу, которое может выдавать себя за Вас." %} </p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "6. Безопасность данных" %} </p>
    <p>{% translate "6.1. Данные, которые мы собираем и обрабатываем, защищены техническими средствами и процедурами обеспечения безопасности в целях предотвращения несанкционированного доступа или их использования." %} </p>
    <p>{% translate "Хотим предупредить Вас, что сервис не сможет скрыть Ваши данные, которые остаются на фотографиях, которые Вы публикуете (EXIF), так как они могут содержать данные вашего месторасположения по GPS, ведь посетители могут извлечь эту информацию, скачав изображения с сайта. Процесс обработки файлов во время загрузки на сайт предусматривает очистку EXIF, но мы не даём гарантию, что они будут очищены, поэтому настоятельно рекомендуем их очищать вручную или через сторонний онлайн-сервис. " %} </p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "7. Изменение Политики конфиденциальности" %} </p>
    <p>{% translate "7.1. Политика может быть изменена или прекращена администрацией в одностороннем порядке без предварительного уведомления Пользователей, в том числе, если этого требует законодательство. Новая редакция Политики вступает в силу с момента ее размещения в онлайн-сервисе, поэтому мы просим Вас посещать онлайн-сервис pidvezu.com.ua, чтобы убедиться в том, что Вы обладаете актуальной информацией." %} </p>
    <p>{% translate "7.2. В случае если были внесены изменения в Политику конфиденциальности, с которыми Пользователь не согласен, он обязан прекратить использование сервиса. Факт продолжения использования сайта является подтверждением согласия и принятия Пользователем соответствующей редакции Политики конфиденциальности." %} </p>
</div>
<div class="rules_block">
    <p class="rules_header">{% translate "8. К кому Вы можете обратиться для защиты Ваших персональных данных" %} </p>
    <p>{% translate "8.1. Если у Вас возникнут вопросы, замечания, жалобы или пожелания в отношении защиты и обработки персональных данных, Вы можете обращаться к администрации сервиса Pidvezu еmail: help@pidvezu.com.ua. ответ будет отправлен в кратчайшие сроки." %} </p>
    <p>{% translate "Пожалуйста, указывайте свои имя, фамилию, адрес электронной почты, а также подробные вопросы, замечания, жалобы или требования." %} </p>
    <p>{% translate "8.2. Административный орган по защите персональных данных в Украине - Управление по вопросам защиты персональных данных Секретариата Уполномоченного Верховной Рады Украины по правам человека. Вы можете обращаться к нему с жалобами или предложениями, если считаете, что нарушены Ваши права в связи с обработкой персональных данных. " %} </p>
</div>
</div>
{% endblock %}